.why-us {
  text-align: center;
  padding-bottom: 30px;
  h1{
    font-weight: 400;
    margin-bottom: 40px;
  }
  h2{
    font-weight: 500;
  }
  p {
    font-size: 18px;
    padding-bottom: 30px;
  }
  .image {
    height: 60px;
  }
}