<div class="container footer">
	<div class="row">
		<div class="col-md-6">
			<p>
				<a 
					style="color: white; cursor: pointer;" 
					ui-sref="terms({param: 'value'})"
					>
					Terms and condititions
				</a>
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<a 
					style="color: white; cursor: pointer;" 
					ui-sref="contact({param: 'value'})"
					>
					Contact us
				</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<p class="freepik">
				Icons made by 
				<a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
			</p>
		</div>
		<div class="col-md-offset-6 col-md-3">
			<p>
				&#169; Transcribe4me
			</p>
		</div>
	</div>
</div>