<header class="hero-unit" id="banner">
  <img class='dude'>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1>Transcriptions, made really easy</h1>
        <p class="lead">24hr turnaround. We save your time for <strong><u>70p a minute</u></strong></p>
        <button 
          class='cta left' 
          ngf-select="$ctrl.chooseFile($file)"
          ngf-max-size="750MB"
          ngf-pattern="'audio/*'"
          ngf-accept="'audio/*'">
          UPLOAD FOR INSTANT QUOTE
        </button>
        <p class="or">or</p>
        <button
          class='cta right'
          href="#instant"
          ng-click='$ctrl.scrollTo("instant")'
          >
          SEE OUR COST CALCULATOR
        </button>
        <p class="tna"> <strong>Customers get 25% off their first order.</strong> English speakers only. Max uploads are 750MB per file. No minimum charge. Your files are treated as confidential.</p>
      </div>
    </div>
  </div>
</header>

<div class="container" id="quote" ng-show='$ctrl.seconds'>
  <div class="row">
    <h3>{{$ctrl.quote_text}}</h3>
    <div class="col-md-offset-2 col-md-4">
      <div class="row card" uib-tooltip="Expected delivery date of your transcription">
        <div class="card-label">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="card-content">
          <p>
            {{$ctrl.date | date}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row card" uib-tooltip="The total cost for your transcription">
        <div class="card-label">
          <span class="glyphicon glyphicon-gbp"></span>
        </div>
        <div class="card-content">
          <p>
            {{$ctrl.price * (1 - $ctrl.discount / 100.0) / 100.0 | number : 2}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tr>
          <th></th>
          <th class="hidden-sm hidden-xs">File name</th>
          <th>Length</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>
            <a 
              href=""
              ng-click="$ctrl.deleteFile()">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
          <td class="hidden-sm hidden-xs">
            {{$ctrl.filename}}
          </td>
          <td uib-tooltip="The total length of your audio file">
            <time seconds='$ctrl.seconds'></time>
          </td>
          <td uib-tooltip="The price is 0.70p per minute">
            <time seconds='$ctrl.seconds'></time> x £{{$ctrl.base / 100 | number : 2}} <span ng-show='$ctrl.discount'> with {{$ctrl.discount}}% off </span> = £{{$ctrl.price * (1 - $ctrl.discount / 100.0) / 100.0 | number : 2}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12" ng-hide='$ctrl.order_confirmed'>
      <button 
        class='cta' 
        ng-click="$ctrl.openCheckout()"
        ng-disabled="$ctrl.charging"
        >
        {{$ctrl.checkout}}
      </button>
      <div ng-show='$ctrl.charging'>
        <uib-progressbar type="info" value="$ctrl.progress"></uib-progressbar>
        <p>Please don't leave this page until we've fully processed your order. {{$ctrl.progress}}% complete.</p>
      </div>
    </div>
    <div class="col-xs-12" ng-show='$ctrl.order_confirmed'>
      <div>
        <p class="confirmed">
          Thanks for your order! You'll recieve an email from us shortly.
        </p>
      </div>
    </div>
  </div>
</div>


<reviews></reviews>

<why-us></why-us>

<how-it-works></how-it-works>

<instant-quote base='$ctrl.base' file='$ctrl.$child_file'></instant-quote>

